.nav {
    grid-area: n;
    background-color: #02a7b7;
}
.item {
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.item:last-child {
    margin-top: 50px;
}
.itemLink {
    display: inline-block;
    font-size: 25px;
    color: antiquewhite;
    text-decoration: none;
}
.itemLink:hover {

    color: darkolivegreen;
    transition: 0.5s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.itemLinkActive {
    display: inline-block;
    color: darkolivegreen;
    text-decoration: none;
    font-size: 25px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
