.appWrapper {
    display: grid;
    max-width: 2200px;
    margin: 0 auto;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
                        "h h"
                        "n c";

}
.appWrapperContent {
    grid-area: c;
    background-color: #02a7b7 ;
    padding-top: 10px;

}





